/build/
/install/

rknn_convery/exp20/*.jpg
rknn_convery/exp20/*.png
rknn_convery/exp20/*.csv
rknn_convery/exp20/*.yaml
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mp4
