# /toolchains/aarch64_so
/build/
/install/
/rknn_convery/data/
/rknn_convery/models/
/rknn_convery/python/check0_base_optimize.onnx
/rknn_convery/python/check2_correct_ops.onnx

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.mp4
